body {
  background: url("./assets/fon.jpg") no-repeat;
  background-size: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-title {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
}

.description-main {
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.75);
}

